@import "https://unpkg.com/open-props/open-props.min.css";
@import "https://unpkg.com/open-props/normalize.min.css";
:root {
  --bg: url("../assets/images/bg-dark.png");
  --white: #fff;
  --black: #000;
//   font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh !important;
  font-family: "Google Sans", sans-serif, system-ui;
  transition: background 0.25s;
  .bg-light {
    position: absolute;
    display: none;
  }
  .fs-5 {
    color: rgb(37, 38, 36);
  }
 
}

#voice-search {
  position: absolute;
  top: 1px;
  font-size: 25px;
  right: 450px;
  cursor: pointer;
}

.main_title {
  text-align: center !important;
  margin: 0 auto;
  font-family: cursive !important;
  color: #645e5e;
}

#search {
  border-radius: 10px;
}

.btn {
  border-radius: 5px !important;
}

.radial {
  position: fixed;
  --border-width: 12px;
  --diameter: clamp(200px, 30vmin, 28rem);
  --handle-size: 48px;
  width: var(--diameter);
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  right: 120px;
  bottom: 20px;
  z-index: 10;
}

.radial__ring {
  position: absolute;
  height: 100%;
  width: 100%;
}

.radial__handle {
  width: var(--handle-size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: calc(100% - (var(--border-width) * 0.5));
  transform: translate(-50%, 50%);
  box-shadow: var(--shadow-6);
  padding: 0;
  border: 2px solid hsl(0 0% 85%);
  background: var(--gray-0);
  display: grid;
  place-items: center;
}

.radial__handle svg {
  width: 70%;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background 0.25s;
}

.radial__handle [title="sun"] {
  fill: var(--yellow-4);
}

.radial__handle [title="moon"] {
  width: 45%;
  fill: var(--gray-4);
  transform: translate(-50%, -50%) scale(0);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.radial__track {
  height: 100%;
  width: 100%;
  position: absolute;
  background: conic-gradient(
      from 270deg,
      var(--yellow-4) calc(var(--sun-stop, 0) * 1%),
      transparent calc(var(--sun-stop, 0) * 1%)
    ),
    conic-gradient(
      from 90deg,
      var(--gray-7) calc(var(--moon-stop, 0) * 1%),
      transparent calc(var(--moon-stop, 0) * 1%)
    ),
    var(--surface-2);
  border-radius: 50%;
  --stop: calc(var(--diameter) * 0.5 - var(--border-width));
  mask: radial-gradient(transparent var(--stop), black var(--stop));
}

.radial__indicators {
  height: 100%;
  width: 100%;
  position: absolute;
}

.radial__indicator {
  width: 48px;
  aspect-ratio: 1;
  position: absolute;
  background: var(--gray-0);
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 2px solid var(--gray-4);
}

.radial__indicator:first-of-type {
  --fill: var(--yellow-4);
  top: 50%;
  right: 100%;
  transform: translate(calc(50% + (var(--border-width) * 0.5)), -50%);
}

.radial__indicator:last-of-type {
  --fill: var(--gray-4);
  top: 50%;
  left: 100%;
  transform: translate(calc(-50% - (var(--border-width) * 0.5)), -50%);
}

.radial__indicator svg {
  fill: var(--fill);
  width: 55%;
}

.radial__time {
  transition: color 0.25s;
  font-variant: tabular-nums;
}

.radial__track circle {
  stroke-width: 12px;
  stroke: red;
}

// DARK MODE
body.dark {
    background-size: cover;
    background-position: center;
    .modal{
        input{
            background: transparent;
            color: #188ff0;
        }
        select{
            background: transparent;
            color: #188ff0;
            option{
                background: transparent;
            }
        }
    }
   .fs-5{
    color: #fff;
   }
  .modal-content {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    label{
        color: #fff;
    }
  }
  #voice-search {
    color: #fff;
  }
  .bg-light {
    display: block;
  }
  #search {
    background: transparent;
    border-radius: 10px;
  }
  thead {
    th {
      color: rgb(244, 244, 244);
    }
  }

  #pupilTable {
    tr {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10.7px);
      -webkit-backdrop-filter: blur(10.7px);
      border: 1px solid rgba(255, 255, 255, 0.02);
    }
    th:first-child {
      border-radius: 10px 0px 0px 10px;
    }
    td:last-child {
      border-radius: 0px 10px 10px 0px;
    }
    th {
      color: orange;
    }
    td {
      color: #fff;
    }
  }
}


@media (max-width: 770px){
    .table{
        overflow: scroll auto;
    }
    @media screen and (max-width: 770px) {
        #voice-search{
            display: none;
        }
        .input-group{
            gap: 10px;
        }
        .radial{
            left: 30px;
            --border-width: 9px;
            --diameter: clamp(150px, 25vmin, 24rem);
            --handle-size: 35px;
            width: var(--diameter);
        } 
        table {
          border: 0;
        }
      
        table caption {
          font-size: 1.3em;
        }
        
        table thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }
        table th{
            color: red;
        }
        
        table tr {
          border-bottom: 3px solid #ddd;
          display: block;
          margin-bottom: .625em;
        }
        
        table td {
          border-bottom: 1px solid #ddd;
          display: block;
          font-size: 1.1rem;
          text-align: right;
        }
        
        table td::before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }
        
        table td:last-child {
          border-bottom: 0;
        }
      }
      
}


.loading-none {
    visibility: hidden;
    z-index: -1;
}
.loading {
    font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
    position: fixed;
	background-color: hsl(223, 90%, 95%);
	font: 1em/1.5 sans-serif;
	height: 100vh;
	display: grid;
	place-items: center;
    width: 100%;
    z-index: 123;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .3s ease-out;
}
.pl,
.pl__ball,
.pl__ball-inner-shadow,
.pl__ball-side-shadows,
.pl__ball-texture,
.pl__inner-ring,
.pl__outer-ring,
.pl__track-cover {
	border-radius: 50%;
}
.pl {
	position: relative;
	width: 16em;
	height: 16em;
}
.pl__ball,
.pl__ball-inner-shadow,
.pl__ball-outer-shadow,
.pl__ball-side-shadows,
.pl__ball-texture,
.pl__ball-texture:before,
.pl__inner-ring,
.pl__outer-ring,
.pl__track-cover {
	position: absolute;
}
.pl__ball,
.pl__ball-inner-shadow,
.pl__ball-outer-shadow,
.pl__ball-texture:before,
.pl__track-cover {
	animation: ball 3s linear infinite;
}
.pl__ball {
	top: calc(50% - 1.25em);
	left: calc(50% - 1.25em);
	transform: rotate(0) translateY(-6.5em);
	width: 2.5em;
	height: 2.5em;
}
.pl__ball-inner-shadow {
	animation-name: ballInnerShadow;
	box-shadow:
		0 0.1em 0.2em hsla(0, 0%, 0%, 0.3),
		0 0 0.2em hsla(0, 0%, 0%, 0.1) inset,
		0 -1em 0.5em hsla(0, 0%, 0%, 0.15) inset;
	width: 100%;
	height: 100%;
}
.pl__ball-outer-shadow {
	animation-name: ballOuterShadow;
	background-image: linear-gradient(hsla(0, 0%, 0%, 0.15),hsla(0, 0%, 0%, 0));
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	filter: blur(2px);
	top: 50%;
	left: 0;
	width: 100%;
	height: 250%;
	transform: rotate(20deg);
	transform-origin: 50% 0;
	z-index: -2;
}
.pl__ball-side-shadows {
	background-color: hsla(0, 0%, 0%, 0.1);
	filter: blur(2px);
	width: 100%;
	height: 100%;
	transform: scale(0.75,1.1);
	z-index: -1;
}
.pl__ball-texture {
	overflow: hidden;
	width: 100%;
	height: 100%;
	transform: translate3d(0,0,0);
}
.pl__ball-texture:before {
	animation-name: ballTexture;
	animation-duration: 0.25s;
	background: url(https://assets.codepen.io/416221/snow.jpg) 0 0 / 50% 100%;
	content: "";
	display: block;
	filter: brightness(1.05);
	top: 0;
	right: 0;
	width: 200%;
	height: 100%;
}
.pl__inner-ring {
	box-shadow:
		0 -0.25em 0.5em hsla(0, 0%, 100%, 0.4),
		0 0.5em 0.75em hsla(0, 0%, 100%, 0.4) inset,
		0 0.5em 0.375em hsla(0, 0%, 0%, 0.15),
		0 -0.5em 0.75em hsla(0, 0%, 0%, 0.15) inset;
	top: 2.375em;
	left: 2.375em;
	width: calc(100% - 4.75em);
	height: calc(100% - 4.75em);
}
.pl__outer-ring {
	box-shadow:
		0 -0.45em 0.375em hsla(0, 0%, 0%, 0.15),
		0 0.5em 0.75em hsla(0, 0%, 0%, 0.15) inset,
		0 0.25em 0.5em hsla(0, 0%, 100%, 0.4),
		0 -0.5em 0.75em hsla(0, 0%, 100%, 0.4) inset;
	top: 0.75em;
	left: 0.75em;
	width: calc(100% - 1.5em);
	height: calc(100% - 1.5em);
}
.pl__track-cover {
	animation-name: trackCover;
	background-image: conic-gradient(hsla(223, 90%, 95%, 1) 210deg, hsla(223, 90%, 95%, 0) 270deg);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Animations */
@keyframes ball {
	from {
		transform: rotate(0) translateY(-6.5em);
	}
	50% {
		transform: rotate(180deg) translateY(-6em);
	}
	to {
		transform: rotate(360deg) translateY(-6.5em);
	}
}
@keyframes ballInnerShadow {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(-360deg);
	}
}
@keyframes ballOuterShadow {
	from {
		transform: rotate(20deg);
	}
	to {
		transform: rotate(-340deg);
	}
}
@keyframes ballTexture {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(50%);
	}
}
@keyframes trackCover {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

